{% extends 'partials/base_auth.html' %}

{% load static%}

{% block content %}

<h1>Register</h1>
<div clas="card"> 
    <!-- <p>UserName: </p>
        <input type="text">
        <p>Password</p>
        <input type="text">
        <p>Reapeat Password</p>
        <input type="text"> -->
        {% include 'partials/_messages.html' %}
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input 
            type="text"
            name="username"
            placeholder="UserName"
            id="usernameField"
            value="{{fieldValues.username}}">

            <input
            type="email"
            name="email"
            placeholder="email"
            value="{{fieldValues.email}}"
            id="emailField">
            <input 
                type="text"
                name="password"
                placeholder="passowrd"
                {%comment%} value="{{fieldValues.password}}" {%endcomment%}
                id="passwordField">
                </div>
                <input id ="register" type="submit" value="Register">
    
        </form>
<script src="{% static 'js/register.js' %}"></script>
    
{% endblock %}